In [19]:
import pandas as pd
import numpy as np

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# preparing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# modeling and evaluating
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, accuracy_score

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire

from env import host, user, password
from pydataset import data

# Acquire data

In [20]:
telco_df = acquire.get_telco_data()
telco_df.head()

,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
payment_type_id,,,,,,,,,,,,,,,,,,,,,
2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [21]:
telco_df.head().T

payment_type_id,2,2,1,1,2
contract_type_id,2,1,1,1,1
internet_service_type_id,1,1,2,2,2
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check

# Data Dictionary

In [22]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 2 to 1
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   contract_type_id          7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   customer_id               7043 non-null   object
 3   gender                    7043 non-null   object
 4   senior_citizen            7043 non-null   int64
 5   partner                   7043 non-null   object
 6   dependents                7043 non-null   object
 7   tenure                    7043 non-null   int64
 8   phone_service             7043 non-null   object
 9   multiple_lines            7043 non-null   object
 10  online_security           7043 non-null   object
 11  online_backup             7043 non-null   object
 12  device_protection         7043 non-null   object
 13  tech_support              7043 non-null   object
 14  streaming_tv              7043 non-null   object
 15  streaming_movies          7043 non-null   object
 16  paperless_billing         7043 non-null   object
 17  monthly_charges           7043 non-null   float64
 18  total_charges             7043 non-null   object
 19  churn                     7043 non-null   object
 20  internet_service_type     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  payment_type              7043 non-null   object
dtypes: float64(1), int64(4), object(18)
memory usage: 1.3+ MB

In [23]:
telco_df.describe().T

,count,mean,std,min,25%,50%,75%,max
contract_type_id,7043.0,1.690473,0.833755,1.00,1.0,1.00,2.00,3.00
internet_service_type_id,7043.0,1.872923,0.737796,1.00,1.0,2.00,2.00,3.00
senior_citizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
monthly_charges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

# no missing data

In [28]:
telco_df.isna().sum()

contract_type_id            0
internet_service_type_id    0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
internet_service_type       0
contract_type               0
payment_type                0
dtype: int64